{% extends "layout.twig" %}

{% block body %}
<!-- Header -->
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- Page Content -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="clearfix"></div>
                    <h1>About Us</h1>
                    <p class="lead">
                       iC-Health is a personal training company with clients in Surrey, Berkshire and Hampshire. Specialising in <em>weight loss, muscle gain, injury prevention, and sports conditioning</em>, we offer a variety of training styles and methods to allow you maximum progression and achievement. Online training, one-to-one personal training and group training services are some of the opportunities you can explore to a fitter, stronger, slimmer, healthier and happier you.
                    </p>

                    <p>
                        When you choose to train with iC-Health, you can expect to receive a service which will help you not only get fitter than you've ever been, but learn to enjoy your training and continue to progress. Following a free consultation, we will devise a training plan that will be expertly structured, fun and most importantly, effective. Choose us and revel in guaranteed results!
                    </p>

{#
                   <blockquote class="blockquote-reverse">
                    <p>I was fat and now I'm not</p>
                    <footer><cite title="Source Title">Tim</cite></footer>
                    </blockquote>
#}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6">
                    <img class="img-responsive img-circle" src="img/ian.jpg" alt="">
                </div>
                <div class="col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6">
                    <div class="clearfix"></div>
                    <h2>Ian - Personal Training</h2>
                    <p class="lead">
                        With a background in Sport Science, Ian graduated from University with First Class Honours in 2012, and has since developed a wealth of personal training experience.
                    </p><p>
                        Having gained valuable experience working with a variety of coaches in high performance environments, Ian has developed knowledge in Strength and Conditioning, Performance Analysis and Sport Psychology.
                    </p><p>
                        Ian has also previously worked in elite sport having enjoyed spells working with Great Britain's Paralympic Team, as well as Southampton and Portsmouth Football Clubs. A a keen sports individual, Ian's key focus is on making sessions so enjoyable and efficient, tailoring your needs to achieve your goals. All training sessions are results orientated, extremely effective and will keep you wanting more!
                    </p>
                </div>
            </div>


            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="jumbotron">
                <h3>Qualifications</h3>
                <ul>
                    <li>BSc Sport Science</li>
                    <li>Level 3 Personal Trainer Award</li>
                    <li>Suspension Qualified Instructor</li>
                    <li>Indoor Cycling Qualified Instructor</li>
                    <li>FA Level 2 in Football Coaching</li>
                    <li>FA Level 1 in Disabled Football Coaching</li>
                    <li>UKA Level 1 in Athletic Coaching</li>
                    <li>Emergency First Aider</li>
                </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="jumbotron">
                    <h3>Specialist Areas</h3>
                    <ul>
                        <li>Weight Loss</li>
                        <li>Muscle Gain</li>
                        <li>Sports Conditioning</li>
                        <li>Group Training</li>
                    </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="jumbotron">
                    <h3>Achievements</h3>
                    <ul>
                        <li>Captained Southampton Football Club at youth level</li>
                        <li>Represented Wales FA at the UEFA u19 Championships</li>
                        <li>Completed Reading Half Marathon in 2015</li>
                        <li>Completed Tough Mudder in 2015</li>
                    </ul>
                  </div>
              </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Chloe - Health</h2>
                    <p class="lead">Put a lot of burgers in your mouth? Maybe you shouldn't. Chloe can help
                    you put the fork down.</p>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <img class="img-responsive img-rounded" src="img/some-kind-of-salad.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
{#
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to Start Bootstrap:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->
#}
    </div>
    <!-- /.banner -->
{% endblock %}