{% extends "layout.twig" %}
{% block title %}iC-Products{% endblock %}
{% block body %}
<!-- Header -->
    <div class="banner1">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- Page Content -->

    <div class="content-section-a">
        <div class="container">
            <div style="text-align: center;">
                <h1>iC-Products</h1>
                <p>
                    We all need a little helping hand to ensure we have optimal health and a strong immune system. Have a browse at the products we offer and see how adding these to your diet can benefit you.
                </p>
            </div>
        <!-- SHOPIFY CODE -->

       <div data-accent_color="767676" data-background_color="ffffff" data-button_background_color="5cb85c" data-button_text_color="ffffff" data-cart_button_text="Cart" data-cart_title="Your cart" data-cart_total_text="Total" data-checkout_button_text="Checkout" data-discount_notice_text="Shipping and discount codes are added at checkout." data-embed_type="cart" data-empty_cart_text="Your cart is empty." data-shop="ic-health.myshopify.com" data-sticky="true" data-text_color="000000"></div>
        <div data-background_color="ffffff" data-button_background_color="5cb85c" data-button_text_color="ffffff" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-buy_button_text="Buy now" data-collection_handle="supplements" data-display_size="compact" data-embed_type="collection" data-has_image="true" data-next_page_button_text="Next page" data-product_handle="" data-product_modal="true" data-product_name="" data-product_title_color="000000" data-redirect_to="modal" data-shop="ic-health.myshopify.com"></div>
        <script type="text/javascript">document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');</script>

        <!-- /SHOPIFY CODE -->
    </div>
</div>

{% endblock %}
