{% extends "layout.twig" %}

{% block body %}
<!-- Header -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>iC-Health</h1>
                        <h3>iC Your Potential</h3>
                        {#<hr class="intro-divider">#}
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/iCHealthLtd" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/iCHealthltd/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/ichealthltd/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">iC-The Bosses</h2>
                    <p class="lead">
                        iC-Health was created by two individuals who's passion, knowledge and drive will ensure you reach your full potential.
                    </p>
                    <p>
                        <a href="/about" class="btn btn-success btn-sm">Find out about us</a>
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive img-rounded bnw" src="img/the-bosses.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">iC-Services</h2>
                    <p class="lead">iC-Health has clients in Surrey, Berkshire and Hampshire, we specialise in weight loss, muscle gain, injury prevention, and sports conditioning. There are lots of ways we can help you to get in to shape. Not local? No problem. We offer holistic virtual fitness packages, as well as tradional face-to-face training and nutrition packages.</p>
                     <p>
                        <a href="/services" class="btn btn-success btn-sm">Find out what we offer</a>
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive img-rounded bnw" src="img/services.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">iC-Products</h2>
                    <p class="lead">
                        Here at iC-Health we understand that most households are susceptible to disease and health-related complications stemming from nutritional insufficiencies in the body. We recommend you use the Nutrifii supplements, available to purchase directly through us. Every product is <strong>rigorously tested</strong> (not on animals) and proven to exceed industry standards for quality and purity.
                    </p>

                     <p>
                        <a href="/health" class="btn btn-success btn-sm">See our packages</a>
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive img-rounded bnw" src="img/moa.jpeg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
{#
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to Start Bootstrap:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->
#}
    </div>
    <!-- /.banner -->
{% endblock %}