{% extends "layout.twig" %}

{% block body %}

 <!-- Page Content -->
<div class="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <h1>Services</h1>
        </div>
    </div>


    <div class="row text-center">
        <div class="col-sm-6 col-md-3 hero-feature">
            <div class="thumbnail">
                <img src="img/gym.jpg" alt="">
                <div class="caption">
                    <h3>Online Virtual Training</h3>
                    <p>Online coaching to aid your training, providing you with training methods, programs, nutitrional advice and email support</p>
                    <p>
                        <a href="/services/virtual-pt" class="hero-feature__action btn btn-success">Find out more</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 hero-feature">
            <div class="thumbnail">
                <img src="/img/kettlebell.jpg" alt="">
                <div class="caption">
                    <h3>Personal Training</h3>
                    <p>Specified one-to-one training sessions developed to aid progression and achieve your personal goals</p>
                    <p>
                        <a href="/services/personal-training" class="hero-feature__action btn btn-success">Find out more</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 hero-feature">
            <div class="thumbnail">
                <img src="/img/group-weights.jpg" alt="">
                <div class="caption">
                    <h3>Group Training</h3>
                    <p>Want to trian with a friend? Better yet a group? Opportunities for you and your friends to enjoy training together while achieving those desired bodies</p>
                    <p>
                        <a href="/services/group-training" class="hero-feature__action btn btn-success">Find out more</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3>Injury Prevention</h3>
                    <p>Our prevention and rehabilitation programmes will enable you to continue training hard without the frustrations and worries associated with injuries
                    </p>
                    <p>
                        <a href="/services/injury-prevention" class="hero-feature__action btn btn-success">Find out more</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3>Sports Conditioning</h3>
                    <p>
                        Sport specific training sessions to enhance performance
                    </p>
                    <p>
                        <a href="/services/sports-conditioning" class="hero-feature__action btn btn-success">Find out more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 hero-feature">
            <div class="thumbnail">
                <img src="/img/some-kind-of-salad.jpg" alt="">
                <div class="caption">
                    <h3>Nutrition</h3>
                    <p>
                        Examination of weekly food diaries with quick tips to help achieve your apsirations
                    </p>
                    <p>
                        <a href="/services/nutrition" class="hero-feature__action btn btn-success">Find out more</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3>Health Packages</h3>
                    <p>
                        Want to change how you look? How you feel? Choose from various products and supplements to aid your weightloss, skincare and energy levels
                    </p>
                    <p>
                        <a href="/services/health" class="hero-feature__action btn btn-success">Find out more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}