{% extends "layout.twig" %}
{% block title %}iC-Services{% endblock %}

{% block body %}
<!-- Header -->
    <div class="banner1">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- Page Content -->

    <div class="content-section-a">
        <div class="container">
            <div style="text-align: center;">
                <h1>iC-Services</h1>
                <p>
                   Want to find out how iC-Health can improve your health and wellbeing? Scroll down to find out! We really do have something for everyone
                </p>
            </div>
        <!-- SHOPIFY CODE -->

<style type="text/css">
.foo {
    min-height: 300px;
}
</style>
    {# <img src="/img/loading.gif" /> #}

        <div class="foo" data-accent_color="767676" data-background_color="ffffff" data-button_background_color="5cb85c" data-button_text_color="ffffff" data-cart_button_text="Cart" data-cart_title="Your cart" data-cart_total_text="Total" data-checkout_button_text="Checkout" data-discount_notice_text="Shipping and discount codes are added at checkout." data-embed_type="cart" data-empty_cart_text="Your cart is empty." data-shop="ic-health.myshopify.com" data-sticky="true" data-text_color="000000"></div>
        <div class="foo" data-background_color="ffffff" data-button_background_color="5cb85c" data-button_text_color="ffffff" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-buy_button_text="Buy now" data-collection_handle="services" data-display_size="compact" data-embed_type="collection" data-has_image="true" data-next_page_button_text="Next page" data-product_handle="" data-product_modal="true" data-product_name="" data-product_title_color="000000" data-redirect_to="modal" data-shop="ic-health.myshopify.com">
        </div>
        <script type="text/javascript">document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');</script>

    {#
    <div class="row">
        <div class="col-lg-12">
            <h1>Services</h1>
        </div>
    </div>


    <div class="row text-center">
        <div class="col-sm-6 col-md-3 hero-feature">
            <div class="thumbnail">
                <img src="img/gym.jpg" alt="">
                <div class="caption">
                    <h3>Virtual Training</h3>
                    <p>Online coaching to aid your training, providing you with training methods, programs, nutitrional advice and email support</p>
                    <p>
                        <a href="/services/virtual-pt" class="hero-feature__action btn btn-success">Find out more</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 hero-feature">
            <div class="thumbnail">
                <img src="/img/kettlebell.jpg" alt="">
                <div class="caption">
                    <h3>Personal Training</h3>
                    <p>Specified one-to-one training sessions developed to aid progression and achieve your personal goals</p>
                    <p>
                        <a href="/services/personal-training" class="hero-feature__action btn btn-success">Find out more</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 hero-feature">
            <div class="thumbnail">
                <img src="/img/spin.jpg" alt="">
                <div class="caption">
                    <h3>Group Training</h3>
                    <p>Want to trian with a friend? Better yet a group? Opportunities for you and your friends to enjoy training together while achieving those desired bodies</p>
                    <p>
                        <a href="/services/group-training" class="hero-feature__action btn btn-success">Find out more</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 hero-feature">
            <div class="thumbnail">
                <img src="/img/small-weights.jpg" alt="">
                <div class="caption">
                    <h3>Injury Prevention</h3>
                    <p>Our prevention and rehabilitation programmes will enable you to continue training hard without the frustrations and worries associated with injuries
                    </p>
                    <p>
                        <a href="/services/injury-prevention" class="hero-feature__action btn btn-success">Find out more</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 hero-feature">
            <div class="thumbnail">
                <img src="/img/conditioning.jpg" alt="">
                <div class="caption">
                    <h3>Sports Conditioning</h3>
                    <p>
                        Sport specific training sessions to enhance performance
                    </p>
                    <p>
                        <a href="/services/sports-conditioning" class="hero-feature__action btn btn-success">Find out more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 hero-feature">
            <div class="thumbnail">
                <img src="/img/some-kind-of-salad-bnw.jpg" alt="">
                <div class="caption">
                    <h3>Nutrition</h3>
                    <p>
                        Examination of weekly food diaries with quick tips to help achieve your apsirations
                    </p>
                    <p>
                        <a href="/services/nutrition" class="hero-feature__action btn btn-success">Find out more</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 hero-feature">
            <div class="thumbnail">
                <img src="/img/health.jpg" alt="">
                <div class="caption">
                    <h3>Health Packages</h3>
                    <p>
                        Want to change how you look? How you feel? Choose from various products and supplements to aid your weightloss, skincare and energy levels
                    </p>
                    <p>
                        <a href="/services/health" class="hero-feature__action btn btn-success">Find out more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    #}
</div>
{% endblock %}