{% extends "layout.twig" %}
{% block title %}Group Training{% endblock %}
{% block body %}
<!-- Header -->
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- Page Content -->

    <div class="content-section-a">
        <div class="container">
            <h1>Group Training</h1>

            <p>
                Semi-private personal training sessions and small group PT are becoming more and more popular in the health and fitness industry, why? It's cost effective and loads of fun! At iC-Health we offer a huge variety of training styles to suit all needs - friends, couples, families - we will accommodate you!
            </p>

            <h2>Semi-Private Personal Training</h2>
            <ul>
                <li>Achieve the best results possible with friends or family</li>
                <li>Train with like minded people (up to 4 people including you) </li>
                <li>Create an amazing motivating environment with others</li>
                <li>Experience unreal support from individuals like you</li>
                <li>What better way is there to lose fat, tone up, and get strong?</li>
            </ul>

            <h2>Executive Lunch</h2>
            <ul>
            <li>Achieve the best results possible with your work colleagues</li>
            <li>Train with other individuals during your lunch to burn calories, save money and feel better!</li>
            <li>Create an unforgettable experience</li>
            <li>Be pushed and challenged much more than training alone</li>
            <li>Gives you extra motivation and competition to progress to each of your goals</li>
            </ul>

            <p class="lead">Are you missing out by training in a group compared to one-to-one personal training? No...How Come?</p>
            <ul>
            <li>People love training in small groups</li>
            <li>The atmosphere is awesome when you train with others (especially your friends and colleagues)</li>
            <li>You'll be pushing and challenging yourself more than you would alone</li>
            <li>30, 45 and 60 minute sessions available</li>
            <li>Nutritional guidance based on your goals</li>
            <li>Accountability to help you achieve more than you thought you ever could </li>
            </ul>
            <p>
             Prices start from as little as £28 per 30 minutes or £48 per hour.
            </p>
        </div>
    </div>
{% endblock %}

