{% extends "layout.twig" %}
{% block title %}Nutrition{% endblock %}
{% block body %}
<!-- Header -->
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- Page Content -->

    <div class="content-section-a">
        <div class="container">
            <h1>Nutrition</h1>
            <p>
                Irrespective of your goal, nutrition is an area often over-looked by exercisers. Nutrition will play a key role for people looking to gain muscle, lose body fat, prepare for sporting events and may also be a reason for developing injuries. That’s why we offer a nutritional programme for all clients to follow and achieve their goals faster. However there is also the opportunity for individuals that do not wish to train with iC-Health to purchase a nutritional package, to increase their chances of reaching their goals. iC-Health not only offer nutritional advice, we offer a collection of premium supplements that combine the essential nutrients your body needs in the most comprehensive blends. We offer various packages to enable you to positively enforce change within your body.
            </p>
            <p>
                Prices start from as little as £40.
            </p>
        </div>
    </div>
{% endblock %}