{% extends "layout.twig" %}
{% block title %}Personal Training{% endblock %}
{% block body %}
<!-- Header -->
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- Page Content -->

    <div class="content-section-a">
        <div class="container">
            <h1>Personal Training</h1>
            <p>
                One-to-one personal training sessions are individualised and specific to your health and fitness desires. iC-Health has the adaptability to train you in an environment that not only suits you, but that will allow you to gain the most effective results. We will support you in making long-term changes to aid your performance and development, leading to improvements in your health and well-being. During your free initial consultation, there will the opportunity to discuss what you wish to achieve and how we can work effectively to reach those targets. Following this, our personal trainer will assess your health and fitness well being, as well as your fitness and movement capabilities, giving us that important starting point allowing us to track your progress. Any and every session will be tailored to your needs, specialising in a range of areas such as:
            </p>
            <ol>
                <li>Weight Loss</li>
                <li>Muscle gain</li>
                <li>Strength and Toning</li>
                <li>Injury Prevention and Rehabilitation</li>
                <li>Sports Conditioning</li>
                <li>Core Development</li>
            </ol>

            <p>
                Prices start from as little as £20 per 30 minutes or £32 per hour.
            </p>
            </div>
    </div>

{% endblock %}