{% extends "layout.twig" %}
{% block title %}Virtual Training{% endblock %}
{% block body %}
<!-- Header -->
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- Page Content -->

    <div class="content-section-a">
        <div class="container">
            <h1>Virtual Training</h1>
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive" src="/img/ic-chat.gif"/>
                </div>
                <div class="col-sm-6">
                    <h2>Does this sound familiar? </h2>
                    <p>Barriers are the single biggest influence on adults avoiding physical activity, but you now have the opportunity to overcome those issues and reach the goals we've all dreamed of. Online coaching offers the specificity and variation needed to allow any and every individual to achieve their goals, technology has helped in many various ways for our worlds to progress, and now the health and fitness industry has improved also through this route. Some of the benefits to a virtual personal trainer are:</p>
                    <ul>
                        <li>Gain access to a better class of trainer</li>
                        <li>Sessions and Advice are available at a time that suits you</li>
                        <li>Create a schedule around you and your work load</li>
                        <li>More affordable </li>
                    </ul>
                {#
                <ul style="font-size:30px;padding-top: 30px;" class="list-unstyled">
                    <li>&quot;Not enough time to go to the gym&quot;</li>
                    <li>&quot;No gyms close to me&quot;</li>
                    <li>&quot;Too Busy&quot;</li>
                    <li>&quot;Too Tired&quot;</li>
                    <li>&quot;Lack the confidence&quot;</li>
                    <li>&quot;I feel intimidated by crowds&quot;</li>
                    <li>&quot;Family commitments&quot;</li>
                </ul>
                #}


                <h2>Creating Your Personal Workout and Nutrition Plan</h2>
                <p>
                My fully interactive online fitness plans that guarantee to deliver awesome results. Whatever your fitness goal, every aspect will be tailored to get you into the best possible shape. I fully customise 8 week plan to meet your requirements, ensuring every aspect of training and nutrition is covered and backed up with full online support. Choose your package and I will personally design your transformation plan. From bikini body to bodybuilding, from strength and to sports conditioning, or even cross-fit style weight training - iC-Health can help you achieve your desire.
                </p>

                <h2>What's in your Custom Training Plan?</h2>
                <ul>
                    <li>Full custom training plan to ensure you hit your targets</li>
                    <li>Every aspect of the plan is specified and suitable for you.</li>
                    <li>Flexible training days and times to match your needs</li>
                    <li>Details on all sets and reps</li>
                    <li>Tried and proven techniques for maximum results</li>
                </ul>

                <h2>Full Nutrition Plan</h2>
                <ul>
                    <li>Detailed food plan to hit your goals</li>
                    <li>Numerous options for meal variation</li>
                    <li>Fully detailed supplement breakdown (if requested)</li>
                    <li>Tried and proven techniques for maximum results</li>
                </ul>

                <h2>How the Online Coaching Works</h2>
                <ul>
                    <li>Initial questionnaire to fully understand your aims and the requirements to achieve them</li>
                    <li>Before and after photos
                    <li>A personal log in app to track and monitor your progress</li>
                    <li>Access to the complete video library of exercises</li>
                </ul>


                <h2>Your Account and Making Progress</h2>
                <ul>
                    <li>Daily log of exercise and nutrition progress</li>
                    <li>Video database to support your training sessions</li>
                    <li>Upload a photo every 4 weeks to track your progress</li>
                    <li>Join the community and socialise with other individuals that are as driven as you to be the best they can be </li>
                </ul>
            </div>
        </div>


        <!-- /.container -->
    </div>

{% endblock %}